*{margin: 0; padding: 0; box-sizing: border-box;}
#container{width: 100%; margin: 0 auto;}
hr{border-color: yellow;}

header, footer{width: 100%; background: rgb(255, 145, 0)}
header{height: 60px;}
header nav{line-height: 60px;}
nav #topMenu, footer #bottomMenu{list-style: none; text-align: left;}
nav #topMenu{padding: 0 10px;}
#topMenu li, #bottomMenu li{display: inline-block; padding: 0 10px;}
#topMenu li{margin: 0 20px;}
#topMenu li a, #bottomMenu li a{text-decoration: none; color: white;}
#topMenu li a:hover{color: greenyellow; font-weight: 800;}
footer{height: 40px;}
footer #bottomMenu{padding-top: 7px;}
#bottomMenu li{border-right: 1px solid white; font-size: x-small;}
#bottomMenu li:first-child{margin-left: 15px;}
#bottomMenu li:last-child{border: none; padding-left: 5px; margin-right: 15px;}
#bottomMenu li a:hover{text-decoration: underline;}

#profile{width: 100%;}
#profile h1{text-align: center; margin: 10px auto; padding-bottom: 10px;}
#profile h2{color: yellowgreen; text-shadow: 5px 5px 15px rgb(255, 255, 0); padding: 5px; margin-top: 10px;}
#profile section{margin: 0 auto; padding: 10px;}
#profile section:nth-child(2n){background: rgba(255,145,0,0.1);}
#profile section ul li{list-style: none; padding: 10px; margin: 10px;}

#profile #intro #cont{height: 160px; position: relative;}
#profile #intro #cont img{height: 150px; float: left; padding: 15px 10px 0 0; display: none;}
#cont ul{padding-top: 10px;}
#cont a{text-decoration: none; color: rgb(255,145,0); position: absolute; right: 15px; bottom: 10px;}
/* a의 위치를 left를 주었다가 768px이상에서 right값을 주니 left값으로만 구현됨 - left에 auto값을 주어서 초기화 시켜주면 해결. left와 right에 모두 값이 있을 때는 left가 우선함. top bottom left 값을 줄 때는 auto가 자동으로 들어가지만 right 값을 줄 때는 따로 설정해주어야 함 */
#cont a:hover{background: yellow;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);}
#profile #thanks{margin-bottom: 0;}
#profile #thanks #box{width: 160px; color: yellowgreen; text-shadow: 5px 5px 15px yellow; animation: moving 2s alternate infinite; padding: 20px; margin-top: 10px;}
#profile #thanks #box h3{text-align: center;}
#profile #thanks p{color:rgb(255, 145, 0); text-align: right; padding-bottom: 20px; margin-right: 15px;}
@media screen and (min-width: 768px){
    nav #topMenu, footer #bottomMenu{text-align: center;}
    #topMenu li{font-size: large;}
    section ul{margin-left: 150px;}
    #profile #intro #cont img{display: block; margin-left: 30px;}
    #cont ul{padding-top: 30px;}
}
@media screen and (min-width: 900px){
    nav #topMenu, footer #bottomMenu{text-align: right;}
    section{width: 900px;}
    section ul{margin-left: 300px;}
}
@keyframes moving {from{transform: rotate(15deg);}to{transform: rotate(-15deg);}}